---
import Hero from "./../sections/hero.astro";
import About from "./../sections/about.astro";
import Events from "./../sections/events.astro";
import Gallery from "../sections/gallery.astro";
console.log("This runs in your terminal, not the browser!");
---

<html>
  <body class="bg-black text-white mx-36">
    <Hero />
    <About />
    <Events />
    <Gallery />
  </body>
</html>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  body {
    font-family: "Poppins";
  }
</style>
