---
import Hero from "./../sections/hero.astro";
import About from "./../sections/about.astro";
import Events from "./../sections/events.astro";
import Gallery from "../sections/gallery.astro";
import Footer from "../sections/footer.astro";
import Anim from "../sections/anim.astro";
console.log("This runs in your terminal, not the browser!");
---

<html>
  <body class="bg-stone-950 text-white mx-44">
    <Hero />
    <div class="bg-black">
      <About />
      <Events />
      <Gallery />
    </div>
    <Anim />
    <Footer />
  </body><style>
    @import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
    body {
      font-family: "Inter Tight", sans-serif;
    }
  </style>
</html>
