---
const {
  eventDetails: { title, imageUrl, dateTime },
} = Astro.props;
---

<div class="lg:min-w-[25em] p-4">
  <div
    class="shadow-inner bg-gradient-to-br p-5 pt-10 flex flex-col from-stone-500/30 to-transparent rounded-2xl overflow-hidden"
    style={{ aspectRatio: "11/16" }}
  >
    <div class="flex-grow relative">
      <img
        src={imageUrl}
        alt={title}
        class="w-full h-full object-cover absolute inset-0"
      />
    </div>
    <div class="p-4 gap-y-4 flex flex-col justify-between">
      <h2
        class="text-[5vw] sm:text-[2.5vw] md:text-[1.7vw] lg:text-[1.3vw] font-semibold"
      >
        {title}
      </h2>
      <p
        class="text-[4vw] sm:text-[2vw] md:text-[1.3vw] lg:text-[1vw] text-gray-600"
      >
        {dateTime}
      </p>
    </div>
  </div>
</div>
