---
import Eventcard from "./../components/eventcard.astro";

let d = new Date();
let events = [{title : "Event name 1",imageUrl :"",dateTime : `${d.getDate()}-${d.getMonth()}-${d.getFullYear()}` }]
---
<div  class="flex flex-col m-10 mt-20">
<div><p class="text-[400%] mt-auto bg-gradient-to-b from-stone-200 to-transparent bg-clip-text text-transparent">Events</p></div>
<div>
    {
        events.map((event ,idx)=>{
            return <Eventcard eventDetails = {event}/>
        })
    }
</div>
</div>