---

---

<div class="flex flex-row justify-end -mx-36 p-8">
  <div></div>
  <div class="flex flex-col text-right">
    <p class="text-[320%]">Contact us</p>
    <p class="text-[150%] text-stone-400">marketingclub@email.com</p>
    <p class="text-[125%] text-stone-300 mt-3">
      (Opposite Uniworld Downtown Mall) Plot No III /B-11,<br />
      Action Area III New Town,<br />
      Rajarhat Kolkata - 700160
    </p>
  </div>
</div>
