---
const imageFiles = await Astro.glob(
  "/src/assets/images/*.{png,jpg,jpeg,gif,webp}"
);

const images = imageFiles.map((file, idx) => ({
  src: file.default.src,
  alt: `image${idx}`, // Extract filename without extension as alt text
}));

const columns = [[], [], []];
images.forEach((image, index) => {
  columns[index % 3].push(image);
});
---

<div class="flex flex-col p-10 border-t-2 border-r-2 border-b-2">
  <div>
    <p
      class="text-[400%] mt-auto my-5 bg-gradient-to-b from-stone-200 to-transparent bg-clip-text text-transparent"
    >
      Gallery
    </p>
    <div>
      <div class="grid grid-cols-3 gap-5 break-inside-avoid">
        {
          columns.map((column, columnIndex) => (
            <div class="flex flex-col gap-5">
              {column.map((image) => (
                <img src={image.src} alt={image.alt} class="w-full" />
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
